* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    width: 10%;
}

a {
    text-decoration: none;
    font-size: 1rem;
    margin-inline: 15px;
    color: white;
    background-color: rgb(232, 175, 68);
    padding: 7px;
    border-radius: 10px;
}

.voltar_contato {
  text-decoration: none;
  background-color: yellow;

}